<div id="app">
    <div><video #video id="video" width="640" height="480" autoplay></video></div>
    <div><button id="snap" (click)="capture()">Snap Photo</button></div>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
    <ul>
        <li *ngFor="let c of captures">
            <img src="{{ c }}" height="50" />
        </li>
    </ul>
    <img #watermark id="watermark" src="../../../assets/images/signature.png" width="640" height="480">
    <img #watermarksmall id="watermark_small" src="../../../assets/images/signature_small.png">
</div>